{% extends 'adminapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}

  <div class="categories_list">
    <button class="new_product">
      <a href={% url 'admin:product_create' object_list.0.category.pk %}>
        Новый товар
      </a>
    </button>
  </div>
  <br>
    {% for object in object_list %}
    <div class="categories_list">
        <img
          src="{{object.image|media_folder_products}}"
          width="150" height="150"
          alt="{{ object.name }}">
        <div class="product_name">
          {{ object.name|title }}
        </div>
        <div class="product_actions">
          <button>
            <a href={% url 'admin:product_read' object.pk %}>
              Подробнее
            </a>
          </button>
          <button>
            <a href={% url 'admin:product_update' object.pk %}>
              Редактировать
            </a>
          </button>
          <button>
            <a href={% url 'admin:product_delete' object.pk %}>
              Удалить
            </a>
          </button>
          <button>
            <a href={% url 'admin:categories' %}>
              Назад
            </a>
          </button>
        </div>
        <div class="summary">
          <b>Цена</b>
          <p>{{ object.price }} руб</p>
          <b>Количество</b>
          <p>{{ object.quantity }}</p>
        </div>
        <div class="product_desc">
          {{ object.short_desc }}
        </div>
      <br><br>
    </div>
    {% endfor%}

{% endblock %}